# DATABASE
DATABASE_URL=""

# AWS VARIABLES
AWS_ACCESS_KEY=""
AWS_SECRET_ACCESS_KEY=""

# MAIN BUCKET
AWS_DEFAULT_REGION=""
AWS_MAIN_BUCKET_NAME=""

# RABBITMQ
RABBITMQ_DEFAULT_USER=""
RABBITMQ_DEFAULT_PASS=""
